h1 {
    border-left: 2px blue dashed;
    border-right: 2px red dotted;
    border-top: 2px green double;
    border-bottom: 2px yellow groove;
}
div {
    border: 5px blue solid;
    border-radius: 10px;
}
button {
    border: 2px black solid;
    border-radius: 10px;
}