h1 {
    text-align: center;
}
.box {
    height: 50px;
    width: 50px;
    text-align: center;
}
#container1 {
    height: 200px;
    width: 80%;
    background-color: lightgray;
    margin: 10px auto;
    border: 2px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
#blue {
    flex-basis: 100px;
}
#container2 {
    height: 200px;
    width: 80%;
    background-color: lightgray;
    margin: 10px auto;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
#green {
    flex-basis: 100px;
}