.container {
    height: 400px;
    width: 400px;
    background-color: black;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 100px 100px 100px;
}
.item {
    background-color: greenyellow;
    border: 2px black solid;
}
.one {
    grid-row-start: 1;
    grid-row-end: 3;
}