h1 {
    color: #ff0000;;
    background-color: #ffff00;
}
h2 {
    color: #008800;
    background-color: #00ffff;
}
h3 {
    color: #0000ff;
    background-color: #7fff00;
}
button {
    color: #000000;
    background-color: #ffa500;
}