.loader {
    border: 16px black solid;
    border-top: 16px lawngreen solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}